.section {
  height: min(44.64286vw, 1000px);
  background-image: url('/images/main_sec04_img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
}

/* 타이틀 */
.title {
  margin-bottom: min(4.46429vw, 100px);
  color: #FFFFFF;
  margin-top: 0;
}

.firstLine {
  display: block;
  font: normal normal normal min(2.23214vw, 50px)/min(3.125vw, 70px) 'Paperozi', sans-serif;
  letter-spacing: min(-0.06696vw, -1.5px);
}

.secondLine {
  display: block;
  font: normal normal bold min(2.23214vw, 50px)/min(3.125vw, 70px) 'Paperozi', sans-serif;
  letter-spacing: min(-0.06696vw, -1.5px);
}

/* 설명 */
.description {
  font: normal normal normal min(1.16071vw, 26px)/min(1.51786vw, 34px) 'Pretendard', sans-serif;
  letter-spacing: min(-0.03482vw, -0.78px);
  color: #FFFFFF;
  margin: 0;
}
