.page {
  width: 100%;
}

.content {
  padding-top: min(5.75893vw, 129px);
  padding-bottom: min(11.60714vw, 260px);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}
