.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: min(4.46429vw, 100px);
  margin-top: min(2.67857vw, 60px);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageBox {
  width: min(13.39286vw, 300px);
  height: min(17.85714vw, 400px);
  border-radius: min(0.66964vw, 15px);
  border: 1px solid #707070;
  margin-bottom: min(1.65179vw, 37px);
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleBox {
  width: min(13.39286vw, 300px);
  height: min(2.67857vw, 60px);
  border-radius: 9999px;
  border: 1px solid #707070;
  font-size: min(0.98214vw, 22px);
  font-weight: 400;
  color: #707070;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
