.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: min(1.78571vw, 40px);
  margin-top: min(2.67857vw, 60px);
  max-width: min(62.5vw, 1400px);
  margin-left: auto;
  margin-right: auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.imageBox {
  width: min(20.04464vw, 449px);
  height: min(20.04464vw, 449px);
  border-radius: min(0.66964vw, 15px);
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textBox {
  position: absolute;
  bottom: min(1.38393vw, 31px);
  left: 50%;
  transform: translateX(-50%);
  width: min(15.98214vw, 358px);
  height: min(2.67857vw, 60px);
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-size: min(0.84821vw, 19px);
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
