.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  margin-top: 60px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.imageBox {
  width: 449px;
  height: 449px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textBox {
  position: absolute;
  bottom: 31px;
  left: 50%;
  transform: translateX(-50%);
  width: 358px;
  height: 60px;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-size: 19px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
