.list {
  margin-top: min(2.67857vw, 60px);
}

.item {
  margin-bottom: min(5.75893vw, 129px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item:last-child {
  margin-bottom: 0;
}

.title {
  font: normal normal 800 min(1.69643vw, 38px)/min(2.00893vw, 45px) 'Paperozi', sans-serif;
  letter-spacing: min(-0.03393vw, -0.76px);
  color: #1D1D1D;
  margin: 0;
  margin-bottom: min(0.58036vw, 13px);
}

.address {
  font: normal normal medium min(1.16071vw, 26px)/min(1.33929vw, 30px) 'Pretendard Variable', 'Pretendard', sans-serif;
  letter-spacing: 0;
  color: #707070;
  margin: 0;
  margin-bottom: min(2.5vw, 56px);
}

.imageWrapper {
  max-width: min(62.5vw, 1400px);
  width: 100%;
  margin-bottom: min(2.67857vw, 60px);
}

.image {
  width: 100%;
  height: auto;
  border-radius: min(0.66964vw, 15px);
  display: block;
}

.button {
  width: min(13.39286vw, 300px);
  height: min(3.125vw, 70px);
  border: 0.5px solid #F26966;
  border-radius: 9999px;
  background-color: #FFFFFF;
  color: #F26966;
  font-size: min(1.16071vw, 26px);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.button:hover {
  background-color: #F26966;
  color: #FFFFFF;
}
